<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATASOURCE.Properties.Settings.TunYat_DBConnectionString"
            connectionString="Data Source=PYITHAR-PC\THURAZAW;Initial Catalog=TunYat_DB;User ID=sa;Password=abcde"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>